<IDOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <title>yo</title>
    
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/base.css">
        
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
        
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
         <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
         <![endif]-->
        
</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="landing_page.html">公司名稱</a>
                <!-- <a class="btn btn-primary navbar-btn pull-right" href="#" role="button">註冊</a> -->
            </div>
            
            <div id="nav-menu" class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#members" class="about-click">關於我們</a></li>
                    <li><a href="#services" class="history-click">選股標準</a></li>
                    <li><a href="#stocktest" class="stock-click">股票分析</a></li>
                    <li><a>聯絡我們</a></li>
                </ul>
            </div>
        </nav>
    </header>
    
    <section id="info-header">
        <div class="container">
            <!-- 大標題 -->
            <div class="row">
                <div class="warp-headline text-center">
                    <h1 class="text-center">a*b=ab 8*7=87</h>
                    <h2 class="text-center">股票分析</h2>
                    <hr>
                    <p>你曾經煩惱過該不該下手嗎?
                    抑或是股票太多，無法兼顧每張股票的狀況，
                    在不知不覺中，股票變得一文不值。<br>
                    
                    現在，快試試看我們精心開發的股票"健檢"系統
                    快速得知股票目前的狀況！</p>
                </div>
            </div>
        </div>
    </section>
    
    <section id="members">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">製作團隊們</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" id="member">
                    <img src="images/member-gua.jpg" class="img-circle">
                    <h5 class="text-center">虞樸</h5>
                    <p class="text-center">隊長</p>
                </div>
                <div class="col-md-4" id="member">
                    <img src="images/member-sung.jpg" class="img-circle">
                    <h5 class="text-center">宋奕儒</h5>
                    <p class="text-center">隊員A</p>
                    <p class="text-center">電子郵件：a20034294@gmail.com</p>
                    <p class="text-center">μ'sic forever</p>
                </div>
                <div class="col-md-4" id="member">
                    <img src="images/member-me.jpg" class="img-circle">
                    <h5 class="text-center">陳奕嘉</h5>
                    <p class="text-center">隊員B</p>
                </div>
            </div>
        </div>
    </section>
    
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <br>
                    <h2 class="section-heading">選股標準推薦</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="economics">
                        <img src="images/se-go.jpg" class="img-responsive img-circle" alt="">
                            <h4>葛拉漢選股</h4>
                            <p class="content">班傑明．葛拉漢(Benjamin Graham)是華爾街公認的證券分析之父，1914年畢業於哥倫比亞大學，
                            進入證券經紀商紐伯格公司(Newbuger Henderson&amp;Loeb)擔任統計分析的工作，
                            1923年離職後，創立第一個私人基金-葛蘭赫公司，初試啼聲操作績效即非常優異，
                            1925年因合夥人意見不合而清算解散，1926年和友人合資設立葛拉漢聯合投資帳戶(Joint Account)，
                            至1929年初資金規模由45萬美元成長至250萬美元，一夕之間，葛拉漢之名成為華爾街的寵兒，
                            1934年和陶德(David L. Dodd)合著「有價證券分析」(Security Analysis)一書，
                            成為證券分析的開山始祖。
                            <br>
                            </p><ul>葛拉漢標準：
                                <li>淨利平均成長一年及三年平均均大於5％</li>
                                <li>股東權益報酬率一年三年及五年平均均大於5％</li>
                                <li>流動比率至少150％</li>
                                <li>本益比小於20</li>
                                <li>負債比率小於50％</li>
                            </ul>
                            <p></p>
                            </div>
                </div>
                <div class="col-sm-4">
                    <div class="economics">
                        <img src="images/se-buffet.jpg" class="img-responsive img-circle" alt="">
                            <h4>巴菲特選股</h4>
                            <p class="content">華倫·愛德華·巴菲特（英語：Warren Edward Buffett，1930年8月30日－），出生於美國內布拉斯加州的奧馬哈，
                            美國投資者、企業家、及慈善家，世界上最成功的投資者。巴菲特是波克夏·海瑟威公司的最大股東，
                            董事長及執行長。他在2008年全球富豪排名第一，2015年第三。
                            巴菲特常被稱為「奧馬哈的神諭」（The Oracle⋯⋯ of Omaha），並以長期的價值投資與簡樸生活聞名。
                            他也是著名的慈善家，並承諾捐出99%的財富，主要交由蓋茲夫婦基金會來運用。
                            <br>
                            <br>
                            </p><ul>巴菲特標準：
                                <li>近5年中每年的EPS都大於1元</li>
                                <li>近12個月每股營收大於1.5元</li>
                                <li>股價淨值比小於1.5</li>
                                <li>近4季股東權益報酬率大於5%</li>
                                <li>稅後淨利至少5000萬美元</li>
                            </ul>
                            <p></p>
                            </div>
                </div>
                <div class="col-sm-4">
                    <div class="economics">
                        <img src="images/se-mi.jpg" class="img-responsive img-circle" alt="">
                            <h4>Michael Sivy選股</h4>
                            <p class="content">麥克．喜偉(Michael Sivy)是美國知名的投資策略分析師，過去15年來，對全球股市動向的預測績效卓著，
                            曾在1994年華爾街空頭氣氛迷漫時，他即公開表示1995年是美國股市重要的投資年；
                            果然1995年至1999年美國經歷一長段漲升期；1999年他更預言20世紀末是美國股市漲升階段的另一次高峰，
                            果不其然NASDAQ指數在世紀末的2000年3-5月下挫達4成；麥克．喜偉也是美國著名財經雜誌(Money Magazine)雜誌的常態性專欄作家，
                            號稱錢雜誌首席策略分析大師，1997年出版暢銷書【投資金律】一書，
                            對不同類型投資者的選股準則有精闢的見解。
                            <br>
                            </p><ul>Michael Sivy標準：
                                <li>本益比小於20</li>
                                <li>負債比率小於60％</li>
                                <li>股東權益報酬率一年、三年及五年平均均大於15％</li>
                                <li>營收成長率一年、三年及五年平均均大於20％</li>
                                <li>淨利成長率一年、三年及五年平均均大於20％</li>
                            </ul>
                            <p></p>
                            </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
        
    </section>
    
    
    <section id="stocktest">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">股票快篩</h2>
                </div>
            </div>
            <div class="row">
                <form name="form0" id="form0" method="GET" class="marginbottom10">
                    <div class="col-md-3 col-md-offset-2 text-center">
                        Start Year
                        <select id="startyear" class="select-style1">
                            <option value="1">2012</option>
                            <option value="2">2013</option>
                            <option value="3">2014</option>
                            <option value="4">2015</option>
                            <option value="5">2016</option>
                        </select>
                    </div>
                    <div class="col-md-3 text-center">
                        End Year
                        <select id="endyear" class="select-style1">
                            <option value="1">2012</option>
                            <option value="2">2013</option>
                            <option value="3">2014</option>
                            <option value="4">2015</option>
                            <option value="5">2016</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-9 text-center">
                    <form name="form1" id="form1" method="GET" class="marginbottom10">
                        <select id="target1" name="target1" class="select-style1">
                            <option value="EPS">每股盈餘(元)</option>
                            <option value="NATPM">稅後淨利率(%)</option>
                            <option value="ROE">股東權益報酬率(%)</option>
                            <option value="IT">存貨周轉率(%)</option>
                            <option value="DY">殖利率(%)</option>
                            <option value="NVPS">每股淨值(元)</option>
                            <option value="OP">營業毛利率(%)</option>
                            <option value="OPMGR">營收成長率(%)</option>
                            <option value="OPM">營業利益率(%)</option>
                            <option value="LR">流動比率(%)</option>
                            <option value="NIGR">稅後淨利成長率(%)</option>
                            <option value="DR">負債比率(%)</option>
                            <option value="ATNI">稅後淨利(千元)</option>
                            <option value="PS">每股營業額(元)</option>
                            <option value="PE">本益比(以月計而且僅3,6,9,12)</option>
                            <option value="PBR">股價淨值比</option>
                            
                        </select>
                        <select id="comparison1" class="select-style1">
                            <option value="1">&gt;</option>
                            <option value="2">&lt;</option>
                            
                        </select>
                        <input id="text1" type="text" name="data1" class="textbox1">
                            </form>
                </div>
                
                <div class="col-md-3">
                    <input type="button" value="search" onclick="search()" class="button1 marginbottom30" id="search">
                        <input type="button" value="clear" class="button1" id="clear" onclick="clear2()">
                            </div>
                
            </div>
            <div class="row" id="resultHere">
                <table id="table1" border="1" width="80%">
                    　<tr>
                        　<td>股票代號</td>
                        　<td>公司名稱</td>
                        　</tr>
                </table>
            </div>
            
        </div>
    </section>
    
    <section id="stockexam">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">股票健檢</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="input-group">
                        <input type="text" class="form-control"     placeholder="輸入入股票代碼">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button">開始分析</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script src="javascript/jquery-3.1.1.min.js"></script>
    <script src="javascript/bootstrap.js"></script>
    <script src="javascript/main.js"></script>
    
    <script language="JavaScript" src="javascript/abcd.js"></script>
    <script language="JavaScript" src="javascript/graphing2.js"></script>
    
    
</body>
</html>
