header{
    background-color: #F8F8F8;
}

header nav{
    opacity:0.8;
    height: 1rem;
}

header ul{
    padding-bottom: 2rem;
}

header li{
    font-weight: bold;
}

header a,
header li{
    color: #777;
}

#nav-menu{
    margin-right: 2rem;
}


body{
    padding-top: 5rem;
}

/* 第一頁 */
section#info-header {
    background-image: url(../images/rabbit.jpg);
    background-size: cover;
}

section#info-header .warp-headline{
    position: relative;
    padding-top: 20%;
    padding-bottom: 35%;
}

section#info-header hr{
    width: 20%;
}

section#info-header h1{
    font-size: 5rem;
}

section#info-header h1,
section#info-header h2{
    color: #000000;
    font-family: 'Century Gothic'
}

section#info-header p{
    color: #FFF;
}

section#info-header h2{
    font-size: 1.5rem;
}

/* 製作團隊 */
section#members{
    background-image: url(../images/sriver.jpg);
    background-size: cover;
}

section#members img{
    margin: 0;
    width: 100%;
    height: auto;
}

section#members img:hover{
/*    -webkit-filter:blur(0.8rem) brightness(60%);*/
/*    transition: 0.8s;*/
}

section#members h2{
    padding-top: 5rem;
    font-size: 5rem;
    font-weight: bold;
}

section#members h5,
section#members h2,
section#members p{
    color:#FFF;
}

section#members h5{
    font-size: 2.5rem;
    font-weight: bold;
}

div#member{
    position: relative;
    padding-top: 10%;
    padding-bottom: 15%;
}

/* 建議 */
section#services{
    background-image: url(../images/grass.jpg);
    background-size: cover;
    //background-color: #D9FBB7;
}

section#services h2,
section#services h4,
section#services li,
section#services ul,
section#services p{
    color: #FFF;
}

/* 股票草篩 */
section#stocktest{
    background-color: #FFFFCE;
    padding-top: 5%;
    padding-bottom: 10%;
}

section#stocktest h2{
    padding-bottom: 5%;
}

.table td,
.table th{
    text-align: center;
}

section#stocktest select{
    width: 15rem;
    display: inline;
}

section#stocktest select{
    width: 15rem;
    display: inline;
}

section#stocktest .button1{
    width: 100%;
    margin: 1rem 0;
}

div#resulthere{
    padding-top: 5%;
}

section#stocktest table{
    animation-duration: 3s;
    animation-name: slidein;
}

/*section#stocktest td{*/
/*    animation-duration: 3s;*/
/*    animation-name: slidein;*/
/*}*/

@keyframes slidein {
    from {
        color: #FFFFCE;
        //transform: translateX(100%);
    }
    
    to {
        
        //transform: translateX(0rem);
    }
}


/* 股票健檢 */
section#stockexam .section-heading{
    padding-top:10%;
}

section#stockexam .input-group{
    padding-top:5%;
    padding-bottom: 5%;
}

div#leftResult{
    background-color: #F0BBFF;
}

div#rightResult{
    background-color: #00FFFF;
}

div#rightResult img{
    height: 5rem;
}

/* 頁尾 */
footer {
    background-color: #FFF5E7;
    //color: #ADADAD;
    margin-top: 3em;
}

footer ul,
footer img {
    margin-top: 3em;
}

footer address {
    margin-top: 5em;
    margin-bottom: 5em;
    color: #5A5A5A;
}

footer ul {
    margin-top: 5em;
    margin-bottom: 5em;
    font-weight: bold;
}

footer address strong {
    color: #ADADAD;
    display: block;
    padding-bottom: 0.62em;
}

footer a {
    font-weight: 300;
    color: #5A5A5A;
}

footer a:hover {
    text-decoration: none;
    color: #FFF;
}














